body{
    overflow-x: hidden;
}

.section__hed {
    max-width: 25rem;
    margin: 0 auto;
    margin-top: 0 auto;
}

svg text{
    font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
    font-size: 12px;
}

.g-axis text{
    text-transform: uppercase;
    font-weight: 500;
    fill:gray;
    font-size: 11px;

}

section{
    padding: 3rem 1rem 0rem 1rem;
}

.prose{
    margin: 3rem auto;
}

.method{
    padding: 1rem;
    margin: 0 auto;
    background-color: black;
}

.g-annotation{
    transition: opacity 250ms ease-in-out;
    pointer-events: none;
}

.g-annotation .annotation-note-line{
    fill: darkorchid;
    font-size: x-small;
    font-weight: 500;
    font-size: 13px
}

.g-annotation .connector{
    stroke: darkorchid;
}

.g-annotation .note-line{
    stroke: darkorchid;
}

.g-annotation .annotation-note-content text{
    fill: darkorchid;
    font-weight: 400;
    font-size: small;
}

.g-annotation .annotation-note-bg{
    fill:#fff;
    fill-opacity: 1;
    stroke:darkorchid;
}

.g-annotation .annotation-subject .subject{
    stroke:darkorchid;
}